<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

    <div clas="details content">
      <h2><%=blog.title%></h2>
      <div class="content">
        <p><%=blog.body %></p>
      </div>
      <a class="delete" data-doc="<%=blog.id%>">Delete</a>
    </div>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
